/* GENERAL */

* {
    border-radius: 0;
    font-family: "FiraMono Nerd Font";
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-right: 2px;
    margin-left: 2px;
    transition-delay: 3s;
}

#waybar {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
}

#battery, #pulseaudio, #network, #bluetooth {
    border-top: 5px solid #657b83;
}

#clock {
    background-color: lightslategrey;
    border-top: 5px solid #1e1e3f;
    color:whitesmoke;
    text-shadow: 2px 1px 2px #1e1e3f;
}

#workspaces {
    text-shadow: 2px 1px 2px whitesmoke;
}

#workspaces button {
    color: #1e1e3f;
    text-shadow: 2px 1px 2px #1e1e3f;
}

#workspaces:hover {
    background-color: lightslategrey;
}
#workspaces button.visible {
    color: #1e1e3f;
    border-top: 5px solid white;
}

#workspaces button.focused {
    color: #1e1e3f;
    border-top: 5px solid #1e1e3f;
}

#workspaces button.urgent {
    color: #1e1e3f;
    background-color: #1e1e3f;
}

#workspaces button.persistent {
    color: #1e1e3f;
}

#workspaces button.current_output {
    color: #1e1e3f;
    border-top: 5px solid #657b83;
}
