/* GENERAL */

* {
    border-radius: 0;
    font-family: "FiraMono Nerd Font";
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-right: 2px;
    margin-left: 2px;
    transition-delay: 3s;
}

#waybar {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
}

#battery {
    border-top: 5px solid #b877db;
}

#battery.critical {
    color: #f53c3c;
    padding: 0px 4px;
}

#pulseaudio {
    border-top: 5px solid  #87ceeb;
}

#network {
    border-top: 5px solid #27d797;
}

#bluetooth {
    border-top: 5px solid #ff9f00;
}

#clock {
    background-color: #303040;
    border-top: 5px solid #50C878;
    color: #a0a0a0;
    text-shadow: 2px 1px 2px #50C878;
}

#custom-cpu_speed {
    border-top: 5px solid #ff9f00;
}


#workspaces {
    text-shadow: 2px 1px 2px #a0a0a0;
}

#workspaces button {
    color: #50C878;
    text-shadow: 2px 1px 2px #1e1e3f;
}

#workspaces:hover {
    background-color: #303040;
}

#workspaces button.visible {
    color: #87ceeb;
    border-top: 5px solid #ff9f00;
}

#workspaces button.focused {
    color: #50C878;
    border-top: 5px solid #1e1e3f;
}

#workspaces button.urgent {
    color: #6c6f93;
    background-color: #1e1e3f;
}

#workspaces button.persistent {
    color: #50C878;
}

#workspaces button.current_output {
    color: #50C878;
    border-top: 5px solid #50C878;
}
