
/* GENERAL */

* {
    font-family: "FuraMono Nerd Font";
    font-size: 15px;
    font-weight: 500;
    min-height: 15px;
    margin-right: 2px;
    margin-left: 2px;

}

/* BAR FEATURES */

window#waybar {
    background: transparent;
    opacity: 0.8;

}

button.focused {
    background-color: #5f27cd;
}

#workspaces {
    border-style: solid;
    background: #2D2B55;
    border-width: 2px;
    border-radius: 15px;
    border-color: #1EF4F6;
}

#workspaces button:nth-child(1) .visible {
    border-radius: 15px 15px 15px 15px;
}

#workspaces button {
    padding: 0px 5px 0px 5px;
    color: #bbc2cf;
}

#workspaces button:hover {
    background: #2b125d;
}

button {
    border: 0px;
}

button:hover {
    border-radius: 0;
    border-width: 0px;
    border-radius: 15px;
}

#workspaces button.visible {
    color: #bbc2cf;
    background-color: #2b125d;
    border-radius: 15px;
    box-shadow: none;
    border-width: 15px;
}

#workspaces button.focused.current_output {
    color: #ffffff;
    background-color: #5f27cd;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: #6d4774;
    background-color: #7bc275;
    border-radius: 15px;
}

#workspaces button.focused:hover {
    background-color: #2b125d;
}

#workspaces {
    padding: 1px;
}

/* MODULES */

#backlight {
    color: yellow;
}

#battery {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #bbc2cf;
    padding: 0px 5px 0px 5px;
}

#battery.charging {
    background: #2D2B55;
    border-radius: 15px;
    color: #7bc275;
}

#battery.warning:not(.charging) {
    background: #2D2B55;
    border-radius: 15px;
    background-color: #2a2e38;
    color: #FCCE7B;
}

#battery.critical:not(.charging) {
    background: #2d2b55;
    border-radius: 15px;
    background-color: #a60000;
    color: #ffffff;
}

#bluetooth {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #c9545d;
    padding: 0px 5px 0px 5px;
}

#clock {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #4db5bd;
    padding: 0px 5px 0px 5px;
}

#custom-cpu_speed {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #C57BDB;
    padding: 0px 5px 0px 5px;
}

#custom-powermenu {
    color: lightcoral;
}

#custom-recorder {
    color: #c9545d;
    font-size: 18px;
    margin: 2px 7px 0px 7px;
}

#custom-storage {
    color: #C57BDB;
}

#custom-weather {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: lightcoral;
    padding: 0px 5px 0px 5px;
}

#mode {
    color: #1EF4F6;
}

#network {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #7bc275;
    padding: 0px 5px 0px 5px;
}

#pulseaudio {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    color: #4db5bd;
    padding: 0px 5px 0px 5px;
}

#temperature {
    background: #2D2B55;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #1EF4F6;
    padding: 5px 5px 5px 5px;
    color: lightpink;
}
